{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h2 class="title">Ajouter un contact</h2>

    {{ include('contact/_form.html.twig') }}
    
    <a class="btn" href="{{ path('contact_index') }}">Retour</a>
{% endblock %}
