{% extends 'base.html.twig' %}

{% block title %}Edition Entreprise{% endblock %}

{% block body %}
    <h2 class="title">Modifier l'entreprise</h2>
<form>
    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}
    </form>
    <a class="btn" href="{{ path('company_index') }}">Retour</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
