{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h2 class="title">Liste des entreprises</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de société</th>
                <th>actions</th>
            </tr>

        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}"><i class="material-icons">info</i></a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}"><i class="material-icons">edit</i> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'entreprise !!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <b>Ajouter une nouvelle entreprise :</b> <a href="{{ path('company_new') }}"><i class="material-icons">add_circle</i> </a>
{% endblock %}
