<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/elneris-dang/">
                        Elneris Dang
                    </a>
                </li>
                <li>
                    <a href="https://github.com/elneris">
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Elneris33">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="http://elneris.zd.fr/">
                        Portfolio
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.linkedin.com/in/elneris-dang/" target="_blank">Elnéris Dang</a> for Wiilog.
        </div>
    </div>
</footer>